<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">


  <!-- <div class="login-user-name">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Registered Email ID" class="user-name" #email="ngModel" required pattern="^[a-zA-Z0-9!'#$%&*+\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!'#$%&*+\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z]{2,}$"
        [(ngModel)]="loginDetails.email" required min="1" id="email" name="email" type="email" [errorStateMatcher]="matcher">
      <mat-error [hidden]="email.valid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
  </div> -->

  <h1>
    Welcome to {{ title }}!
  </h1>
 

  <div ng-app="myApp" ng-controller="formCtrl">
    <form>
      
      name: <input Allowkeys="Decimal_plus_minus" class='inputField' type="text" [(ngModel)]="pgpdetails.name" [ngModelOptions]="{standalone: true}">
     <br>
      email: <input Allowkeys="Prevent_enter" class='inputField' type="text" [(ngModel)]="pgpdetails.email" [ngModelOptions]="{standalone: true}">
      <br>
      bitness: <input Allowkeys="Numbers" class='inputField' type="text" [(ngModel)]="pgpdetails.bitness" [ngModelOptions]="{standalone: true}">
      <br>
      passphrase: <input  Allowkeys="Dates" class='inputField' type="text" [(ngModel)]="pgpdetails.passphrase" [ngModelOptions]="{standalone: true}">

    </form>
    <button (click)="myFunction()">Generate Key</button>
  </div>
  
  <!-- <mat-form-field class="formInputField">
    <input matInput required min="1" id="email" name="email" type="text" placeholder="Email" [(ngModel)]="email" >
  </mat-form-field>
  <button (click)="myFunction()">Try it</button>
</form> -->

<!-- <div class="login-user-name">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Registered Email ID" class="user-name" #email="ngModel" required pattern="^[a-zA-Z0-9!'#$%&*+\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!'#$%&*+\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z]{2,}$"
      [(ngModel)]="loginDetails.email" required min="1" id="email" name="email" type="email" [errorStateMatcher]="matcher">
    <mat-error [hidden]="email.valid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>
</div> -->

<!-- <mat-form-field class="example-full-width">
  <input matInput type="text" autocomplete="off" #password="ngModel" required min="1" id="password" name="password" placeholder="Password"
    [(ngModel)]="passphrase">
</mat-form-field> -->

  <img width="30" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div *ngIf="completed">
<div>
  <h3>Private Key</h3>
  <br>
  <span [innerHTML]='armouredgenprivkey'></span>

</div>  
<div>
    <h3>Public Key</h3>
    <br>
    <span [innerHTML]='armouredpubprivkey'></span>
  
  </div>  
  <div>
      <h3>Revocation Certificate</h3>
      <br>
      <span [innerHTML]='armouredrovCert'></span>
    
    </div>  

  </div>

<h2>To check the integrity of the keys </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="http://cirw.in/gpg-decoder/">PGP Viewer</a></h2>
  </li>
</ul>

